<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/Arya Vijayan/IdeaProjects/QALegendBilling">
        <groups>
            <run>
                <include name="Regression"/>
                <exclude name="Sanity"/>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.qalegend.testscript.HomeTest">
                <methods>
                    <include name="TC006_verifyHomePageTitle"/>
                    <include name="TC007_verifyDateIsDisplayed"/>
                </methods>
            </class>
            <class name="com.qalegend.testscript.LoginTest">
                <methods>
                    <include name="TC001_verifyLoginPageTitle"/>
                    <include name="TC002_verifyValidLogin"/>
                    <include name="TC003_verifyInValidLoginErrorMessage"/>
                    <include name="TC004_verifyClickOnRememberMeCheckBox"/>
                </methods>
            </class>
            <class name="com.qalegend.testscript.ResetTest">
                <methods>
                    <include name="TC005_verifyClickForgotPasswordLink"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>